*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

h1{
	background-color: #33BEBE;
	color: white;
}

.app{
	display: -webkit-flex;
	display: flex;
}

.description{
	color: black;
	max-width: 705px;
	margin: 20px;
}

.image{
	max-width: 612px;
	margin: 20px;
}